
---
import Control from "./Control.astro"
import Map from "./Map.astro"
import ViewCameras from "./ViewCameras.astro"
---
<div class="container mx-auto p-4">
  <ViewCameras />
  <div class="flex flex-row space-x-4 mt-8">
    <div class="w-3/4">
      <Map />
    </div>
    <div class="w-1/4">
      <Control />
    </div>
  </div>
</div>